<%- include("partials/header"); -%>



  <div class="homeContainer">
    <div class="px-4 py-5 my-5 text-center ">
      <div class="d-block mx-auto mb-4" width="72" height="57"><i class="fa-solid fa-key fa-5x"></i></div>
      <h1 class="display-5 fw-bold">Secrets</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Don't keep your secrets, share them anonymously!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
          <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
        </div>
      </div>
    </div>
  </div>



  <%- include("partials/footer"); -%>